tempfile2.txt

# GVIM file #
#############
*.swp*

# Compiled source #
###################
*.class
*.com
*.dll
*.exe
*.o
*.so
*.svn

# Packages #
############
*.zip
*.gz
*.7z
*.iso
*.jar
*.war
*.ear
*.tar

# Logs and databases #
######################
*.log
log/
